/* main {
    display: flex;
    flex-direction: column;
    background-color: #d0d0d0;
    height: 100vh;
    width: 100vw;
    top: 15%;
    right: 10%;
}

#div2b {
    flex: 3;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */