<!DOCTYPE html>
<html lang="en">

<head>
  <title>HOME</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }

    #container {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    #div1 {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: #19387e;
    }

    #div2 {
      flex: 3;
      display: flex;
    }

    #div2a {
      flex: 1;
      background-color: #e0e0e0;
      display: flex;
      flex-direction: column;
    }

    #div2b {
      flex: 3;
      background-color: #d0d0d0;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    #menu {
      display: flex;
      flex-direction: column;
      /* Mengubah arah menu menjadi vertikal */
      align-items: center;
      /* Pusatkan menu secara horizontal */
      padding: 10px;
      margin-top: 20%;
    }

    #menu a {
      font-size: 18px;
      /* Atur ukuran font sesuai kebutuhan */
      text-decoration: none;
      /* Untuk menghapus garis bawah default pada tautan */
      color: #333;
      /* Warna teks */
      padding: 10%;
    }

    img {
      max-width: 100%;
      height: auto;
      max-height: 300px;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <div id="container">
    <!-- Div Pertama -->
    <div id="div1">
      <h1>TESTING WEBSITE</h1>
      <h2>Praktek Kolaborasi Tim Dengan Github</h2>
    </div>

    <!-- Div Kedua -->
    <div id="div2">
      <!-- Div Kedua A -->
      <div id="div2a">
        <div id="menu">
          <a href="menu1">Menu 1</a>
          <a href="#">Menu 2</a>
          <a href="#">Menu 3</a>
        </div>
      </div>

      <!-- Div Kedua B -->
      <div id="div2b">
        <img src="/public/assets/RCS.jpg" alt="Gambar">
        <h1>Rumah Coding Studio</h1>
      </div>
    </div>
  </div>
</body>

</html>