<!DOCTYPE html>
<html lang="en">

<head>
  <title>HOME</title>
  <%- include("../component/head") %>
  <%- include("../component/header") %>
</head>

<body>
  <%- include("../component/sideNav") %>
  <main>
    <div id="div2b">
      <img src="/img/RCS.jpg" alt="Gambar">
      <h1>Rumah Coding Studio</h1>
    </div>
  </main>
</body>
</html>