<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MENU 2</title>
    <%- include("../component/head") %>
    <%- include("../component/header") %>
  </head>

  <body>
    <%- include("../component/sideNav") %>
    <main>
      <div id="div2b">
        <h1>WELCOME TO MENU 2</h1>
      </div>
      
    </main>

  </body>

</html>
