<!DOCTYPE html>
<html lang="en">
  <head>
    <title>MENU 3</title>
    <link rel="stylesheet" href="../../public/css/menu3.css" />
  </head>
  <body>
    <div>
      <h1>MENU 3</h1>
      <h2>Praktek Kolaborasi Tim Dengan Github</h2>
    </div>
  </body>
</html>
