<nav>
  <div id="sideNav">
    <a class="navbar" href="/">HOME</a>
    <a class="navbar" href="/menu1">MENU 1</a>
    <a class="navbar" href="/menu2">MENU 2</a>
    <a class="navbar" href="/menu3">MENU 3</a>
  </div>
</nav>